---
import { MyComponent } from "maps-withastro"
import { Leaflet } from "maps-withastro"
import { MapLibre } from "maps-withastro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<MyComponent prefix="hello world"/>

		<h1>Astro</h1>

		<Leaflet
			container="leafletmap"
			latitude="32.795595"
			longitude="-117.259191"
			zoom="10"
			tileLayer="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
			attribution="&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
		/>

		<hr/>

		<MapLibre
			container="maplibremap"
			latitude="32.795595"
			longitude="-117.259191"
			zoom="10"
			mapstyle="https://demotiles.maplibre.org/style.json"
		/>
	</body>
</html>
