---
import { MyComponent } from "maps-withastro"
import { Leaflet } from "maps-withastro"
import { MapLibre } from "maps-withastro"
import { Mapbox } from "maps-withastro"
import { MapKit } from "maps-withastro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Demo of Astro component</h1>

		<MyComponent prefix="hello world"/>

		<h1>Maps with Astro</h1>

		Leaflet with Astro, Raster tiles from OpenStreetMap
		<Leaflet
			container="leafletmap"
			latitude="32.795595"
			longitude="-117.259191"
			zoom="10"
			tileLayer="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
			attribution="&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors"
			containerstyle="width: 312px; height: 256px"
		/>

		<hr/>

		MapLibre with Astro, demo vector tiles
		<MapLibre
			container="maplibremap"
			latitude="32.795595"
			longitude="-117.259191"
			zoom="10"
			interactive="true"
			mapstyle="https://demotiles.maplibre.org/style.json"
			containerstyle="width: 100vw; height: 256px"
		/>
		<hr/>

		Mapbox with Astro, Raster tiles
		<Mapbox
			container="mapboxmap"
			latitude="32.795595"
			longitude="-117.259191"
			zoom="3"
			interactive="false"
			accesstoken="accesstoken"
			mapstyle="https://roblabs.com/xyz-raster-sources/styles/naturalearthtiles.json"
			containerstyle="width: 256px; height: 256px"
		/>

		<hr/>

		MapKit with Astro, interactive="false"
		<MapKit
			container="mapkitmap-interactive-false"
			latitude="32.795595"
			longitude="-117.259191"
			cameradistance="55000"
			interactive="false"
			maptype="Hybrid"
			containerstyle="width: 256px; height: 256px"
		/>

		<br>
		MapKit with Astro, interactive="true"
		<MapKit
			container="mapkitmap-interactive-true"
			latitude="32.795595"
			longitude="-117.259191"
			cameradistance="55000"
			interactive="true"
			maptype="MutedStandard"
		/>
	</body>
</html>
