---
export interface Props {
  /** The latitude, in degrees. */
  latitude: number

  /** The longitude, in degrees. */
  longitude: number
  
  cameradistance?: number
  /** The altitude of the camera relative to the elevation of the center of the map. 

   * See https://developer.apple.com/documentation/mapkitjs/map/3257749-cameradistance
  */

  /** zoom or `zoomLevel` is a hidden API in MapKit JS. */
  zoom?: number

  rotation?: number
  /** `rotation`, The map’s rotation, in degrees. 

   * See https://developer.apple.com/documentation/mapkitjs/mapconstructoroptions/2992817-rotation
   */

  /** A DOM element, or the ID of a DOM element, to use as your map’s container.
   * 
   * See https://developer.apple.com/documentation/mapkitjs/map/2973920-mapkit_map#parameters
  */

  container: string
  
  /** If `false`, the map will not respond to interaction.  This is a static map built with the full web map rendering API. */
  interactive?: boolean
  
  /**
   * The type of map to display.

   * `Hybrid` A satellite image of the area with road and road name layers on top.

   * `MutedStandard` A street map that emphasizes your data over the underlying map details.

   * `Satellite` A satellite image of the area.

   * `Standard` A street map that shows the position of all roads and some road names.

   * See https://developer.apple.com/documentation/mapkitjs/map/maptypes
   */
  maptype?: string
  
  /** Style information for the map passed directly to the `<div>`, with a reasonable default. */
  containerstyle?: string
  
  urltemplate?: string
  /** Creates a tile overlay with a URL template. 

   * See https://developer.apple.com/documentation/mapkitjs/mapkit/tileoverlay/2974035-mapkit_tileoverlay 
   */

  /** Undocumented MapKit JS feature */
  showstileinfo?: boolean
  /** a signed JSON Web Token (JWT) to authenticate map initializations. 

   * See: https://developer.apple.com/documentation/mapkitjs/creating_and_using_tokens_with_mapkit_js
  */
   jwt: string
}

const { 
  latitude, longitude,
  cameradistance,
  zoom,
  rotation = 0,
  container,
  interactive,
  maptype = "Standard",
  containerstyle = "height: 61.8vh",
  urltemplate = "",
  showstileinfo = false,
  jwt
} = Astro.props

---

<mapkit-map
  data-latitude={latitude}
  data-longitude={longitude}
  data-cameradistance={cameradistance}
  data-zoom={zoom}
  data-rotation={rotation}
  data-container={container}
  data-interactive={interactive}
  data-maptype={maptype}
  data-containerstyle={containerstyle}
  data-urltemplate={urltemplate}
  data-showstileinfo={showstileinfo}
  data-jwt={jwt}
>
<div id={container} style={containerstyle}></div>

{/* Astro specific way to pull in MapKit JS, `is:inline`:  https://docs.astro.build/en/reference/directives-reference/#isinline */}
<script is:inline src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>

<script>

  class MapKitMap extends HTMLElement {
    constructor() {
      super()
      var jwt = this.dataset.jwt

      mapkit.init({
            authorizationCallback: function(done) {
              if(jwt.toLowerCase().startsWith("http")) {

                if(import.meta.env.DEV) {
                  jwt = 'http://localhost:3141/localhost_3141.jwt'
                  console.log(`import.meta.env.DEV == ${import.meta.env.DEV}: 🟡 Using a local JWT signed for local MapKit testing, localhost_3141.jwt`)
                }

                if(import.meta.env.PROD) {
                  console.log(`import.meta.env.PROD == ${import.meta.env.PROD}: Passed in JWT, ${jwt}`)
                }

                fetch(jwt)
                    .then(res => res.text())
                    .then(done);
              } else /* a raw JWT has been passed in */ {
                done(jwt)
              }
            }
        });

        //: MARK mapkit.Map
        // An embeddable interactive map that you add to a webpage.
        var map = new mapkit.Map(this.dataset.container)
        map.center = new mapkit.Coordinate(Number(this.dataset.latitude), Number(this.dataset.longitude))        

        // If both `zoom` & `cameradistance` are defined,
        //   then prioritize zoom
        if(Number(this.dataset.zoom) > 0) {
          console.log(`map._impl.zoomLevel: ${map._impl.zoomLevel.toFixed(6)}`)
          map._impl.zoomLevel = Number(this.dataset.zoom)
          console.log(`map._impl.zoomLevel: ${map._impl.zoomLevel.toFixed(6)}`)
        } else {
          console.log(`map.cameraDistance: ${map.cameraDistance.toFixed(1)}`)
          map.cameraDistance = Number(this.dataset.cameradistance)
          console.log(`map.cameraDistance: ${map.cameraDistance.toFixed(1)}`)
          console.log(`map._impl.zoomLevel: ${map._impl.zoomLevel.toFixed(6)}`)
        }

        map.rotation = Number(this.dataset.rotation)

        //: MARK mapkit.TileOverlay
        // An overlay that covers an area of the map with bitmapped tiles.

        if(this.dataset.urltemplate != "") {
          var customOverlayOptions = new mapkit.TileOverlay(this.dataset.urltemplate)
          map.addTileOverlay(customOverlayOptions)
        }

        //: MARK mapType
        // The type of data that the map view displays.
        switch (this.dataset.maptype) {
          case "Hybrid":
            map.mapType = mapkit.Map.MapTypes.Hybrid
            break;

          case "MutedStandard":
            map.mapType = mapkit.Map.MapTypes.MutedStandard
            break;

          case "Satellite":
            map.mapType = mapkit.Map.MapTypes.Satellite
            break;

            case "Standard":
            map.mapType = mapkit.Map.MapTypes.Standard
            break;
        
          default:
            map.mapType = mapkit.Map.MapTypes.Standard
            break;
        }

        // MARK: Interactive or static map
        if(JSON.parse(this.dataset.interactive) === false) {
          // https://developer.apple.com/documentation/mapkitjs/mapconstructoroptions
          // set MapKit JS values to disable interactivity

          /** A Boolean value that determines whether the user may zoom in and out on the map using pinch gestures or the zoom control. */
          map.isZoomEnabled = false

          /** A Boolean value that determines whether to display a control for zooming in and zooming out on a map. */
          map.showsZoomControl = false
          
          /** A Boolean value that determines whether the user may rotate the map using the compass control or a rotate gesture. */
          map.isRotationEnabled = false

          /** A Boolean value that determines whether to display a control that lets users choose the map type. */
          map.showsMapTypeControl = false

          /**  A Boolean value that determines whether the user may scroll the map with a pointing device or gestures on a touchscreen. */
          map.isScrollEnabled = false

        /** A feature visibility setting that determines when the compass is visible. */
        // https://developer.apple.com/documentation/mapkitjs/featurevisibility
        // map.showsCompass = mapkit.FeatureVisibility.Visible
        map.showsCompass = mapkit.FeatureVisibility.Hidden
        }

        if(JSON.parse(this.dataset.showstileinfo) === true) {
          map._impl._showsTileInfo = true
        }

        // MARK: Event Handlers
        // https://developer.apple.com/documentation/mapkitjs/mapkit/map/handling_map_events
        // https://developer.apple.com/documentation/mapkitjs/mapkit/handling_initialization_events
        map.addEventListener("configuration-change", function (event) { console.log(event.status) })
        map.addEventListener("error", function (event) { console.log(`❌ error: ${event.status}`) })
        map.addEventListener("map-type-change", function (event) { console.log(`🗺️ map-type-change ${event.target.mapType}`) })
        map.addEventListener("region-change-end", function(event) {
          console.log(`🪢 region-change-end 🔎 zoomLevel: ${event.target._impl.zoomLevel.toFixed(6)}, 📏 cameraDistance: ${event.target.cameraDistance.toFixed(2)}, 📍 center: ${event.target.center} 🔄 rotation: ${event.target.rotation.toFixed(2)}` )
          // console.log(`zoom,altitude,${event.target._impl.zoomLevel.toFixed(6)},${event.target.cameraDistance.toFixed(2)}`)
          // event.target._impl._showsDefaultTiles = false
          // event.target._impl._showsDefaultTiles = true
          // console.log(event.target._impl._visibleFrame)
          event.target._impl._allowWheelToZoom = true
        })
    }
  }

  window.customElements.define("mapkit-map", MapKitMap);
</script>