---
export interface Props {
  /** The latitude, in degrees. */
  latitude: number

  /** The longitude, in degrees. */
  longitude: number
  
  /** The altitude of the camera relative to the elevation of the center of the map. https://developer.apple.com/documentation/mapkitjs/map/3257749-cameradistance */
  cameradistance?: number

  /** zoom or `zoomLevel` is a hidden API in MapKit JS. */
  zoom?: number
  
  /** A DOM element, or the ID of a DOM element, to use as your map’s container.  https://developer.apple.com/documentation/mapkitjs/map/2973920-mapkit_map#parameters */
  container: string
  
  /** If `false`, the map will not respond to interaction.  This is a static map built with the full web map rendering API. */
  interactive?: boolean
  
  /**
   * The type of map to display.

   * `Hybrid` A satellite image of the area with road and road name layers on top.

   * `MutedStandard` A street map that emphasizes your data over the underlying map details.

   * `Satellite` A satellite image of the area.

   * `Standard` A street map that shows the position of all roads and some road names.
   */
  maptype?: string
  
  containerstyle?: string
  
  /** Creates a tile overlay with a URL template. https://developer.apple.com/documentation/mapkitjs/mapkit/tileoverlay/2974035-mapkit_tileoverlay */
  urltemplate?: string

  /** Undocumented MapKit JS feature */
  showstileinfo?: boolean
}

const { 
  latitude, longitude,
  cameradistance,
  zoom,
  container,
  interactive,
  maptype = "Standard",
  containerstyle = "height: 61.8vh",
  urltemplate = "",
  showstileinfo = false
} = Astro.props

---

<mapkit-map
  data-latitude={latitude}
  data-longitude={longitude}
  data-cameradistance={cameradistance}
  data-zoom={zoom}
  data-container={container}
  data-interactive={interactive}
  data-maptype={maptype}
  data-containerstyle={containerstyle}
  data-urltemplate={urltemplate}
  data-showstileinfo={showstileinfo}
>
<div id={container} style={containerstyle}></div>

{/* Astro specific way to pull in MapKit JS, `is:inline`:  https://docs.astro.build/en/reference/directives-reference/#isinline */}
<script is:inline src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>

<script>

  class MapKitMap extends HTMLElement {
    constructor() {
      super()

      mapkit.init({
            authorizationCallback: function(done) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "https://roblabs.com/services/jwt");
                xhr.addEventListener("load", function() {
                    done(this.responseText);
                });
                xhr.send();
            }
        });

        //: MARK mapkit.Map
        // An embeddable interactive map that you add to a webpage.
        var map = new mapkit.Map(this.dataset.container)
        map.center = new mapkit.Coordinate(Number(this.dataset.latitude), Number(this.dataset.longitude))        

        // If both `zoom` & `cameradistance` are defined,
        //   then prioritize zoom
        if(Number(this.dataset.zoom) > 0) {
          console.log(`map._impl.zoomLevel: ${map._impl.zoomLevel}`)
          map._impl.zoomLevel = Number(this.dataset.zoom)
          console.log(`map._impl.zoomLevel: ${map._impl.zoomLevel}`)
        } else {
          console.log(`map.cameraDistance: ${map.cameraDistance}`)
          map.cameraDistance = Number(this.dataset.cameradistance)
          console.log(`map.cameraDistance: ${map.cameraDistance}`)
          console.log(`map._impl.zoomLevel: ${map._impl.zoomLevel}`)
        }

        //: MARK mapkit.TileOverlay
        // An overlay that covers an area of the map with bitmapped tiles.

        if(this.dataset.urltemplate != "") {
          var customOverlayOptions = new mapkit.TileOverlay(this.dataset.urltemplate)
          map.addTileOverlay(customOverlayOptions)
        }

        //: MARK mapType
        // The type of data that the map view displays.
        switch (this.dataset.maptype) {
          case "Hybrid":
            map.mapType = mapkit.Map.MapTypes.Hybrid
            break;

          case "MutedStandard":
            map.mapType = mapkit.Map.MapTypes.MutedStandard
            break;

          case "Satellite":
            map.mapType = mapkit.Map.MapTypes.Satellite
            break;

            case "Standard":
            map.mapType = mapkit.Map.MapTypes.Standard
            break;
        
          default:
            map.mapType = mapkit.Map.MapTypes.Standard
            break;
        }

        // MARK: Interactive or static map
        if(JSON.parse(this.dataset.interactive) === false) {
          // https://developer.apple.com/documentation/mapkitjs/mapconstructoroptions
          // set MapKit JS values to disable interactivity

          /** A Boolean value that determines whether the user may zoom in and out on the map using pinch gestures or the zoom control. */
          map.isZoomEnabled = false

          /** A Boolean value that determines whether to display a control for zooming in and zooming out on a map. */
          map.showsZoomControl = false
          
          /** A Boolean value that determines whether the user may rotate the map using the compass control or a rotate gesture. */
          map.isRotationEnabled = false

          /** A Boolean value that determines whether to display a control that lets users choose the map type. */
          map.showsMapTypeControl = false

          /**  A Boolean value that determines whether the user may scroll the map with a pointing device or gestures on a touchscreen. */
          map.isScrollEnabled = false
        }

        if(JSON.parse(this.dataset.showstileinfo) === true) {
          map._impl._showsTileInfo = true
        }

        // MARK: Event Handlers
        // https://developer.apple.com/documentation/mapkitjs/mapkit/map/handling_map_events
        // https://developer.apple.com/documentation/mapkitjs/mapkit/handling_initialization_events
        map.addEventListener("configuration-change", function (event) { console.log(event.status) })
        map.addEventListener("error", function (event) { console.log(`❌ error: ${event.status}`) })
        map.addEventListener("map-type-change", function (event) { console.log(`🗺️ map-type-change ${event.target.mapType}`) })
        map.addEventListener("region-change-end", function(event) {
          console.log(`▢ region-change-end 🔎 zoom: ${event.target._impl.zoomLevel.toFixed(2)}, 📏 cameraDistance: ${event.target.cameraDistance.toFixed(2)}, 📍 center: ${event.target.center}` )
          // event.target._impl._showsDefaultTiles = false
          // event.target._impl._showsDefaultTiles = true
          // console.log(event.target._impl._visibleFrame)
          event.target._impl._allowWheelToZoom = true
        })
    }
  }

  customElements.define("mapkit-map", MapKitMap);
</script>