---
import "maplibre-gl/dist/maplibre-gl.css"
export interface Props {
  latitude: number
  longitude: number
  zoom: number
  mapstyle: string
  container: string
  interactive?: boolean
}

const { latitude, longitude, zoom, mapstyle, container, interactive} = Astro.props

---

<maplibre-map
  data-latitude={latitude} 
  data-longitude={longitude} 
  data-zoom={zoom}
  data-mapstyle={mapstyle}
  data-container={container}
  data-interactive={interactive}
>
<div id={container} style="height: 61.8vh"></div>
<script>
  import maplibregl from "maplibre-gl"

  class MapLibreMap extends HTMLElement {
    constructor() {
      super()

      var map = new maplibregl.Map({
        container: this.dataset.container,
        interactive: this.dataset.interactive,
        center: [this.dataset.longitude, this.dataset.latitude],
        zoom: this.dataset.zoom,
        style: this.dataset.mapstyle
      })
    }
  }

  customElements.define("maplibre-map", MapLibreMap);
</script>